@import '../keyframes.css';

.preloaded {
  position: absolute;
  max-width: 60rem;

  img {
    transform: translateX(5rem);
  }
}

.loaded {
  position: relative;
  animation: slideLeft calc((var(--duration) * 4) - (var(--duration) * 0.5))
    ease-in-out;
  img {
    transform: translateX(0);
  }
}

.weather-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
  z-index: 1;
  background-color: var(--background);
  img {
    max-width: 9.8rem;
    transition: transform calc((var(--duration) * 4) - (var(--duration) * 0.5))
      ease-in-out;
  }
}
@media screen and (max-width: 992px) {
  .weather-search {
    transition: min-height calc((var(--duration) * 4) - (var(--duration) * 0.5))
      ease-in-out calc(var(--duration) * 5);
    img {
      transition: transform calc(var(--duration) * 5) ease-in-out;
    }
  }
  .preloaded {
    min-height: calc(100% - 6rem) !important;
    max-height: calc(100% - 6rem);
  }

  .loaded {
    min-height: 6.5rem !important;
    max-height: calc(10rem + 6rem);
    width: calc(100% - 6rem) !important;
    margin: 0 3rem 3rem 3rem;
    flex-grow: 1;
    justify-content: center;
    animation: fadeOutIn calc(var(--duration) * 5) ease-in-out;

    img {
      transition: none;
      position: absolute;
      animation: drop calc(var(--duration) * 5) ease-in-out;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
